<div id="addNewNoteModal" class="modal">
    <div class="modal-content">
        <h4>New note was added</h4>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
</div>
<div id="deleteNoteModal" class="modal">
    <div class="modal-content">
        <h4>Note has been deleted</h4>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
</div>