<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{{ name }}</title>
    <link rel="stylesheet" type="text/css" href="style/main.css" lang="scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="build/main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper indigo">
        <a href="#" class="brand-logo right">Advanced calendar-notepad-todolist</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="">Notepad</a></li>
            <li><a href="">Calendar</a></li>
            <li><a href="">Todolist</a></li>
            <li><a href="">Profile</a></li>
        </ul>
    </div>
</nav>
<div id="{{ appName }}"></div>

</body>
{% include 'modals/modalAddNewNote.html' %}
<script src="build/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script> M.AutoInit();
</script>
</html>
